<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div class="container">
		<h1 style="text-align: center;">予約管理ページ</h1>
		<div style="text-align: center;">
			<input type="text">&nbsp;
			<button type="button">検索</button>
			<br> <select>
				<option>予約受付順で検索</option>
				<option>視察希望日が近い順で検索</option>
			</select>
		</div>
		<br>
		<br>

		<table border="1" style="margin-left: auto; margin-right: auto;">
			<thead>
				<tr>
					<th>予約団体名</th>
					<th>代表者名</th>
					<th>人数</th>
					<th>第一希望日時</th>
					<th>第二希望日時</th>
					<th>第三希望日時</th>
					<th>商店街案内</th>
					<th>プレゼン</th>
					<th>視察資料</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>株式会社マチテラス</td>
					<td>大竹信也</td>
					<td>8 名</td>
					<td>2020年10月1日（土）</td>
					<td>2020年10月3日（月）</td>
					<td>2020年10月5日（水）</td>
					<td>〇</td>
					<td>〇</td>
					<td>8部</td>
				</tr>
				<tr>
					<td>東京まちづくり協会</td>
					<td>佐藤敏夫</td>
					<td>15 名</td>
					<td>2020年12月12日（土）</td>
					<td>2020年8月31日（月）</td>
					<td>2020年9月4日（金）</td>
					<td>〇</td>
					<td>×</td>
					<td>12部</td>
				</tr>
				<tr>
					<td>有限会社まるたけ</td>
					<td>丸武洋一郎</td>
					<td>4 名</td>
					<td>2020年9月4日（金）</td>
					<td>2020年8月5日（土）</td>
					<td>2020年9月7日（月）</td>
					<td>〇</td>
					<td>×</td>
					<td>4部</td>
				</tr>

			</tbody>

		</table>
	</div>
</body>
</html>